.card {
  box-sizing: border-box;
  width: 250px;
  height: 230px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(26, 25, 25, 0.788);
  transition: 0.5s ease;
  &.box_Shadow {
    border: none;
    box-shadow: 10px 10px 20px #141414, -10px -10px 20px #323232;
  }
  & img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: 1px solid white;
  }
  & a {
    text-decoration: none;
    color: white;
    mix-blend-mode: difference;
  }
}
@media (prefers-color-scheme: light) {
  .card {
    box-shadow: 2px 2px 5px #f4f4f4;
    &.box_Shadow {
      box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #f4f4f4;
    }
    & a {
      text-decoration: none;
      color: #222;
    }
  }
}
